body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
a {
  color: #000;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
.general {
  max-width: 1260px;
  margin: 0 auto;
  &:after {
    content:'';
    display: table;
    clear: both
  }
}
.sitename {
  float: left;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}
.mainnav {
  font-size: 12px;
  li {
    float: right;
  }
  a {
    float: left;
    padding: 10px;
  }
  .active {
    color: #ccc;
    cursor: default;
    text-decoration: none;
  }
}
.page {
  margin: 0 auto;
  max-width: 760px;
  padding: 5% 20px;
}
@media print {
  body {
    margin: 2em;
  }
}
