<!DOCTYPE html>
<html>

<head>
  <title>Mitchell Hillman: {{page.title}}</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta name="viewport" content="width=device-width">
</head>

<body>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4DPSLSRZMF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-4DPSLSRZMF');
  </script>

  <div class="header">
    {% if page.url != '/' %}
    <div class="sitename">Mitchell Hillman</div>
    {% endif %}

    <ul class="mainnav">
      {% for nav in site.data.nav %}
      <li><a {% if nav.url==page.url %} class="active" {% endif %} href="{{ nav.url }}">{{ nav.text }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="page">
    {{content}}
  </div>

</body>

</html>