<!DOCTYPE html>
<html>

<head>
  <title>Mitchell Hillman: {{page.title}}</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="icon" type="image/png" href="https://en.gravatar.com/userimage/7438754/5855f1dfaa0d5759ea6266c82d3dd870.png?size=100">
  <meta name="viewport" content="width=device-width">
</head>

<body>

  <div class="header">
    {% if page.url != '/' %}
    <div class="sitename">Mitchell Hillman</div>
    {% endif %}

    <ul class="mainnav">
      {% for nav in site.data.nav %}
      <li><a {% if nav.url==page.url %} class="active" {% endif %} href="{{ nav.url }}">{{ nav.text }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="page">
    {{content}}
  </div>

</body>

</html>
